[Unit]
Description=My Custom Script
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /path/to/myscript.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target